<div class="dashboard">
  <div class="wrapper">
    <h2>
      <strong>Movies</strong>
    </h2>

    <div class="cards">
      <figure class="card">
        <img src="../../../assets/image/movie.jpg" />
        <figcaption>title
        <h6>commonly used to demonstrate the visual form of a document or a typeface without</h6>
        <p>Rating</p></figcaption>
      </figure>
      <figure class="card">
        <img src="../../../assets/image/movie.jpg" />
        <figcaption>title
        <h6>commonly used to demonstrate the visual form of a document or a typeface without</h6>
        <p>Rating</p></figcaption>
      </figure>
      <figure class="card">
        <img src="../../../assets/image/movie.jpg" />
        <figcaption>title
        <h6>commonly used to demonstrate the visual form of a document or a typeface without</h6>
        <p>Rating</p></figcaption>
      </figure>
      <figure class="card">
        <img src="../../../assets/image/movie.jpg" />
        <figcaption>title
        <h6>commonly used to demonstrate the visual form of a document or a typeface without</h6>
        <p>Rating</p></figcaption>
      </figure>
      <figure class="card">
        <img src="../../../assets/image/movie.jpg" />
        <figcaption>title
        <h6>commonly used to demonstrate the visual form of a document or a typeface without</h6>
        <p>Rating</p></figcaption>
      </figure>
      <figure class="card">
        <img src="../../../assets/image/movie.jpg" />
        <figcaption>title
        <h6>commonly used to demonstrate the visual form of a document or a typeface without</h6>
        <p>Rating</p></figcaption>
      </figure>
      <figure class="card">
        <img src="../../../assets/image/movie.jpg" />
        <figcaption>title
        <h6>commonly used to demonstrate the visual form of a document or a typeface without</h6>
        <p>Rating</p></figcaption>
      </figure>

      
    </div>

    <h2><strong>What's new?</strong></h2>
  </div>
</div>
